@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #fff;
  border: 1px solid #d5d9d9;
  font-size: 13px;
  height: 31px;
  padding: 0 11px;
  text-align: center;
  font-weight: 400;
  color: #0f1111;
  
}
button:hover {
    background-color: #f7fafa;
    border-color: #d5d9d9;
 
  }

#bg{
  background: linear-gradient(90deg, #000851 0%, #1CB5E0 100%);
}
  